body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-thumb {
  background-color: #C4F274;
}

/* NAVIGATION BAR */
.navbar {
  height: 7vh;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8vh;
}

.brand {
  margin-right: auto;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2.5em;
  margin-left: 15rem;
}

.nav-link {
  transition: all 600ms ease-in-out;
  font-size: 1.1rem;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  margin: 0 30px;
  transition: all 600ms ease-in-out;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 4px solid #fed100;
  transition: all 300ms ease-in-out;
  transform: scale(1.3);
}

.nav-link,
.brand {
  margin-top: 10px;
  color: #009b3a;
}

.nav-link:last-child {
  margin-right: 15%;
}

/* FRONTPAGE */

.hero {
  display: flex;
  height: 85vh; 
  flex-direction: column;
  width: 100%;
  margin: 0;
  background-image: url(/img/Hero2.jfif);
  background-repeat: no-repeat;
  background-position-x: 78.5%;
  background-size: contain;
}


h1 {
  margin-left: 15rem;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30vh;
  font-family: 'Kreon', serif;
  font-weight: 700;
  font-size: 2em;
  padding: 0;
  margin-right: auto;
}

h2 {
  display: inline;
  margin-right: auto;
  margin-left: 15rem;
  font-family: 'Kreon', serif;
  font-weight: 500;
  font-size: 1.5em;
}

/* SLOGANS */

.slogans {
  padding: 10vh 0;
  background-color: #C4F274;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
}

i {
  font-size: 64px;
  margin-bottom: 1em;
  justify-self: center;
}

.sentence {
  font-family: 'Kreon', serif;
  font-weight: 300;
  font-size: 1.5rem;
  flex-grow: 0;
}

.sentence:first-child {
  margin-left: 15%;
}

.sentence:nth-child(2) {
  margin: 0 5%;
}

.sentence:last-child {
  margin-right: 15%;
}

.temp {
  height: 100vh;
}


.slider {
  max-height: 1002px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8vh 0;
  flex-direction: column;
}

.slideimg {
  background-image: url(/img/cake.jfif);
  width: 50%;
  height: 90%;
  max-height: 1002px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: 15s slider infinite;
  background-position: center;
  overflow: hidden;
  border: 10px solid #fed100;
}

.h2 {
  font-family: 'Kreon', serif;
  font-weight: 600;
  font-size: 1.8em;
  border-bottom: 4px solid #fed100;
  margin: 6vh 0;
}





@keyframes slider {
  25% {
    background-image: url(/img/ACTUA.jpg);
  }
  50% {
    background-image: url(/img/Hero2.jfif);
  }
  75% {
    background-image: url(/img/Pineapple.jfif);
  }
  100% {
    background-image: url(/img/cake.jfif);
  }
}


/* SCREEN SIZES */

@media only screen and(min-width: 1100px){
  .slideimg {
    max-width:100%;
    max-height:100%;
    background-position-y: -100px;
  }
}
@media only screen and (max-width: 1271px){
  .hero {
    display: default;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-position:center;
    text-align: center;
    margin: 0;
  }

  h1 {
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    color: #009b3a;
    background-color: #EDEFE9;
  }
  
  h2 {
    text-align: center;
    top: 0;
    left: 10%;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    color: #009b3a;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
  }

  .sentence {
    text-align: center;
  }

  .sentence:first-child,
  .sentence:nth-child(2),
  .sentence:last-child {
    margin: 0 40px;
  }

  i {
    margin: 1em 0;
  }

  .navbar {
    height: 8vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    text-align: center;
    margin-left: 0;
    background-color: #EDEFE9;
  }
  
  .navbar {
    padding-top: 20px;
    margin-right: 0;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 1.8em;
  }

  .nav-link {
    display:none;
  }
  .brand {
    text-align: center;
    left: 10%;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 3rem;
    margin: 0;
  }
  
  .slogans {
    padding: 5vh 0;
    background-color: #C4F274;
  }
}
